<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hoffmann90.gratis.in.berlin"
    android:versionCode="1"
    android:versionName="@string/app_versionName" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" 
        android:name="GratisInBerlinApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventDetail"
            android:label="@string/title_activity_event_detail"
            configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hoffmann90.gratis.in.berlin.MainActivity" />
        </activity>
    </application>

</manifest>